html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background: #2e2240;
    color: #fff;
}

.flex {
    border: 4px solid #ee0c21;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: baseline;
}

.flex_item {
    border: 3px solid #fff;
    padding: 16px;
    text-align: center;
    background: #ffc835;
    color: #642677;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    order: 2;
    flex-grow: 1;
}
.flex_item--bigger {
    font-size: 40px;
}
.flex_item--centered {
    align-self: center;
    order: 1;
}