html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    color: #fff;
    background: linear-gradient(156deg, rgba(2, 0, 36, 0.9500175070028011) 94%, rgba(117, 114, 12, 0.9780287114845938) 97%, rgba(0, 212, 255, 1) 100%);
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 200px;
}

.box {
    height: 100px;
    width: 100px;
    background: yellowgreen;
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid red;
    margin: 10px;
    position: sticky;
    top: 0;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1a936f;
    text-decoration: none;
}
.header__title--red {
    color: darkred;
}

.site-header {
    position: relative;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 0;
}

.navigation {
    position: fixed;
    padding: 50px;
    width: 100%;
    background: #fff;
    z-index: 50;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.navigation__item {
    display: inline;
    padding: 10px;
}

.navigation__link {
    color: #1a936f;
}

.about {
    position: relative;
}

.about_header {
    color: #1460aa;
    margin-bottom: 48px;
}

.about_link {
    color: #1a936f
}

.about__paragraph {
    padding: 16px;
    font-size: 20px;
}

.about__paragraph--color {
    color: red;
}

.diary {
    color: #1460aa;
}

.diary__header {
    color: #1460aa;
}

.diary__paragraph {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.diary__section {}

.diary__thirdheader {
    color: #0496FF;
}

.diary__paragraph--color {
    color: #ff6700;
}

.diary__paragraph--fontsize {
    font-size: 20px;
}

.table {
    width: 100%;
    border: #0496FF dashed;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
@media screen and (min-width: 640px) and (max-width: 1000px){
    .grid {
        grid-template-columns: 1fr;
    }
    .navigation__link {
        color: hotpink;
    }
}
@media (min-width: 640px) {
    .main {
        max-width: 900px;
    }
}
@media (max-width: 640px) {
    .navigation {
        display: none;
    }
    .navigation__list {
        flex-direction: column;
    }
    .navigation__item {
        margin: 16px;
    }
}